@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #e1e1e1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}

.key{
    border: 1px solid #999;
    padding: 20px ;
    margin: 10px;
    text-align: center;
    display: inline-flex;
    font-size: 20px;
    flex-direction: column;
    position: relative;
    min-width: 150px;
    font-weight: bold;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

small{
    position: relative;
    top: -70px;
    text-align: center;
    color:  #555;
    font-size: 14px;
}

